.breadcrums{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 600;
  margin: 40px 50px;
  text-transform: capitalize;
}
@media (max-width:1280px) {
  .breadcrums{
    margin:30px 40px ;
    font-size: 14px;
  }
  
}
@media (max-width:1024px) {
  .breadcrums{
    margin:20px 30px ;
    font-size: 12px;
  }
   .breadcrums img{
    height: 14px;
  }
  
}
@media (max-width:800px) {
  .breadcrums{
    margin:20px 30px ;
    font-size: 11px;
  }
   .breadcrums img{
    height: 13px;
  }
  
}
@media (max-width:500px) {
  .breadcrums{
    margin:15px 25px ;
    font-size: 8px;
  }
  .breadcrums img{
    height: 10px;
  }
  
}